{% load static %}

<div class="container-fluid" style="background-color: #18181B; box-shadow: 0 0 1000px 90px #120a16;">
    <div class="row pt-3 pb-3">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <a href="#">
                <img src="{% static 'images/SAE.png' %}" class="img-thumbnail" style="width: 100px; background-color: transparent;">
            </a>
        </div>
        <div class="col">
            <div class="container">
                <div class="row d-flex justify-content-end align-items-center">
                    <div class="col-sm-3 col-md-2 link">
                        <div class="dropdown" id="configuration_select">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; border-style: none;">
                                Configurações   
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'organizer:user_edit' %}" style="color: black;">Editar dados do usuario</a></li>
                                <li><a class="dropdown-item" href="{% url 'organizer:event_edit' %}" style="color: black;">Editar Evento</a></li>
                                <li><a class="dropdown-item" href="{% url 'login:LogoutView' %}" style="color: black;">Encerrar secção</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>


<div class="container-lg mt-4" style="background-color: #d4cdc1; border-radius: 6px;">
    <div class="row pt-3 pb-3">
        <div class="col-sm-12 col-md-12">
            <h4>Dados do Evento</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-center">
            <h6><b style="font-size: 20px;">Nome</b></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-center">
            <h6>{{ event.name }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-center">
            <h6><b style="font-size: 20px;">Descricao</b></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-center">
            <h6 style="word-break: break-word;">{{ event.description }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-center border">
            <h6><b style="font-size: 20px;">Data de Inicio</b></h6>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center border">
            <h6><b style="font-size: 20px;">Data de Termino</b></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-center border">
            <h6>{{ event.initial_date }}</h6>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center border">
            <h6>{{ event.final_date }}</h6>
        </div>
    </div>
    <div class="row border">
        <div class="col-sm-6 col-md-6 d-flex justify-content-center border">
            <h6><b style="font-size: 20px;">Hora de Inicio(todos os dias do evento)</b></h6>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center border">
            <h6><b style="font-size: 20px;">Hora de Termino(todos os dias do evento)</b></h6>
        </div>
    </div>
    <div class="row border">
        <div class="col-sm-6 col-md-6 d-flex justify-content-center border">
            <h6>{{ event.initial_hour }}</h6>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center border">
            <h6>{{ event.final_hour }}</h6>
        </div>
    </div>
    <div class="row border">
        <div class="col-sm-4 col-md-4 d-flex justify-content-center border">
            <h6><b style="font-size: 20px;">Numero de participantes(registrados)</b></h6>
        </div>
        <div class="col-sm-4 col-md-4 d-flex justify-content-center border">
            <h6><b style="font-size: 20px;">Numero maximo de participantes</b></h6>
        </div>
        <div class="col-sm-4 col-md-4 d-flex justify-content-center border">
            <h6><b style="font-size: 20px;">Valor do registro</b></h6>
        </div>
    </div>
    <div class="row border">
        <div class="col-sm-4 col-md-4 d-flex justify-content-center border">
            <h6>{{ event.num_participants }}</h6>
        </div>
        <div class="col-sm-4 col-md-4 d-flex justify-content-center border">
            <h6>{{ event.max_participants }}</h6>
        </div>
        <div class="col-sm-4 col-md-4 d-flex justify-content-center border">
            <h6>{{ event.enrollment_value }}</h6>
        </div>
    </div>
</div>





