{% load static %}
<div id="template_backgound" class="d-flex justify-content-center align-content-center flex-wrap" style="width: 100vw; height: 100vh;">
    <div id="template_form_background" class="d-flex justify-content-center flex-wrap" style="background-color: #211426; min-width: 700px; min-height: 400px; max-width: 800px; max-height: 500px; border-radius: 16px; box-shadow: 3px 3px 3px 3px #F25CCA;">
        <div class="conteiner text-center mt-3" style="width: 90%; height: 95%;">
            <div class="row d-flex justify-content-center">
                <label style="font-size: 35px; color: #D9814E;">Nova Senha</label>
            </div> 

                <div class="row mt-2">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="email" style="color: #D9814E;">Email</label>  
                            <input type="text" class="form-control" id="email" name="email" disabled value="{{user.email}}">  
                        </div>
                    </div>
                </div>   

                <div class="row mt-2">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="passwd2" style="color: #D9814E;">Senha (entre 8 e 12 caracteres)</label>  
                            <input type="text" class="form-control" id="passwd2" name="passwd2">
                        </div>
                    </div>
                </div>   
                <div class="row mt-2">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="passwd1" style="color: #D9814E;">Repita a senha</label>  
                            <input type="text" class="form-control" id="passwd1" name="passwd1">
                        </div>
                    </div>
                </div>   
    
                <div class="row mt-3">
                        <div class="form-outline col-sm-12 col-md-12 d-flex justify-content-center">
                            <button type="button" class="btn btn-success"
                            style="--bs-btn-padding-y: 7px; --bs-btn-padding-x: 40px; --bs-btn-font-size: 14px;" id="enterButton" onclick="new_password();">
                            Editar
                            </button>
                        </div>
                    </div>
                </div>   
        </div>
    </div>
</div>  