{% load static %}
<div id="template_backgound" class="d-flex justify-content-center align-content-center flex-wrap" style="width: 100vw; height: 100vh;">
    <div id="template_form_background" class="d-flex justify-content-center flex-wrap" style="background-color: #211426; min-width: 700px; min-height: 800px; max-width: 800px; max-height: 900px; border-radius: 16px; box-shadow: 3px 3px 3px 3px #F25CCA;">
        <div class="conteiner text-center mt-3" style="width: 90%; height: 95%;">
            <div class="row d-flex justify-content-center">
                <label style="font-size: 35px; color: #D9814E;">Registrar</label>
            </div>
                <div class="row mt-5">
                        <div class="form-outline col-sm-6 col-md-6">
                            <label class="form-label d-flex justify-content-left" for="first_name_field" style="color: #D9814E;">First Name</label>  
                            <input type="text" class="form-control" id="first_name_field" name="first_name_field" placeholder="exemple">
                        </div>
                        <div class="form-outline col-sm-6 col-md-6">
                            <label class="form-label d-flex justify-content-left" for="last_name_field" style="color: #D9814E;">Last Name</label>  
                            <input type="text" class="form-control" id="last_name_field" name="last_name_field" placeholder="exemple">
                        </div>
                </div>   
    
                <div class="row mt-2">
                        <div class="form-outline col-sm-6 col-md-6">
                            <label class="form-label d-flex justify-content-left" for="cpf_field" style="color: #D9814E;">CPF</label>  
                            <input type="text" class="form-control" id="cpf_field" name="cpf_field" placeholder="123.456.789-10" maxlength="14">
                        </div>
                        <div class="form-outline col-sm-6 col-md-6">
                            <label class="form-label d-flex justify-content-left" for="birth_field" style="color: #D9814E;">Born Date</label>  
                            <input type="date" class="form-control" id="born_date_field" name="born_date_field" placeholder="exemple example example">
                        </div>
                </div>   
    
                <div class="row mt-2">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="email_field" style="color: #D9814E;">Email</label>  
                            <input type="text" class="form-control" id="email_field" name="email_field" placeholder="exemple@example.com">
                        </div>
                    </div>
                </div>   
    
                <div class="row mt-5">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label for="passwd_field_1" class="d-flex justify-content-left" style="color: #D9814E;">Password (between 8 and 10 characters)</label>
                            <input type="passwd_field_1" id="passwd_field_1" class="form-control text-muted" name="passwd_field_1" aria-describedby="passwordHelpInline">
                          </div>
                    </div>
                </div>   
    
                <div class="row mt-2">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label for="passwd_field_2" class="d-flex justify-content-left" style="color: #D9814E;">Repeate Password</label>
                            <input type="passwd_field_2" id="passwd_field_2" class="form-control text-muted" name="passwd_field_2" aria-describedby="passwordHelpInline">
                          </div>
                    </div>
                </div>   
    
                <div class="row mt-5">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-9 col-md-9 d-flex justify-content-center">
                            <button type="submit" class="btn btn-success"
                            style="--bs-btn-padding-y: 7px; --bs-btn-padding-x: 40px; --bs-btn-font-size: 14px;" id="enterButton" onclick="create_user();">
                            Create Account
                            </button>
                        </div>
                    </div>
                </div>   
        </div>
    </div>
</div>  