{% load static %}

<script>
    var userPk = {{ request.user.pk }};
    var userPk = JSON.stringify(userPk);
    window.localStorage.setItem('userPk', userPk);
    var user_events = JSON.stringify({{user_events}});
    window.localStorage.setItem('user_events', user_events);
</script>

<div class="container-fluid" style="background-color: #18181B; box-shadow: 0 0 1000px 90px #120a16;">
    <div class="row pt-3 pb-3">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <a href="#">
                <img src="{% static 'images/SAE.png' %}" class="img-thumbnail" style="width: 100px; background-color: transparent;">
            </a>
        </div>
        <div class="col">
            <div class="container">
                <div class="row d-flex justify-content-end align-items-center">
                    <div class="col-sm-auto link"><a href="{% url 'home:home' %}">Home</a></div>
                    <div class="col-sm-auto link"><a href="{% url 'home:events' %}">Eventos</a></div>
                    <div class="col-sm-auto link"><a href="{% url 'home:participant_events' %}">Meus eventos</a></div>
                    <div class="col-sm-auto link">
                        <div class="dropdown" id="configuration_select">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; border-style: none;">
                                Configurações   
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'home:edit_user' %}" style="color: black;">Configuracoes de conta</a></li>
                                <li><a class="dropdown-item" href="#" style="color: black;">Eventos registrados</a></li>
                                {% if user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'home:create_organizer' %}" style="color: black;">Adicionar organizador</a></li>
                                {% endif %}

                                <li><a class="dropdown-item" href="{% url 'login:LogoutView' %}" style="color: black;">Encerrar secção</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>


<div class="container">
    <div class="row" id="data-table">

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="event" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Evento</h5>
            <button type="button" class="btn btn-primary" id="close_modal" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-auto">
                        <img src="/resources/static/images/events/default.png" style="width: 250px; border-radius: 16px; background-color: red;">
                    </div>
                    <div class="col-sm-auto">
                        <table id="data_table">

                        </table>
                    </div>  
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <div class="row">   
                    <div class="col d-flex justify-content-end align-items-bottom">
                        <label for="buy" id="sales"></label>
                        <button type="button" class="btn btn-lg btn-danger" id="cancel_button" onclick="cancel();">
                            Cancelar Inscrição
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>